<% provide(:title, "Home") %>


<%= stylesheet_link_tag    'style', media: 'all',
                                          'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'nav', 'data-turbolinks-track': 'reload' %>

</head>

<style>
  body {
    background-image: url(<%= asset_path 'fond.png' %>);
  }
</style>

<body>

  <div class="lines">
    <%= image_tag("lines.png", alt: "Plug and farm")%>
  </div>
  <div id="overlay" class="close">
    <a id="close" style="cursor: pointer;">&#215;</a>
    <a href="/">Home</a>
    <a href="/contact">Services</a>
    <a href="/contact">About</a>
    <a href="/contact">Contact</a>
    <a href="/contact">Login / Register</a>
  </div>
  <div class="wrapper">
    <nav>
      <a href="/" class="logo"><%= image_tag("logo.png", alt: "Plug and farm logo", id: "logo")%></a>
      <div class="desktop">
        <a href="/">Home</a>
        <a href="/contact">Services</a>
        <a href="/contact">About</a>
        <a href="/contact">Contact</a>
        <a href="/contact" class="btnSmall">
          <p>Login / Register</p>
        </a>
      </div>
      <div class="mobile">
        <a id="open" style="cursor: pointer;">&#9776;</a>
      </div>
    </nav>
    <div class="landing">
      <h1>THE NEW FARMING ERA</h1>
      <h2>Bring your farm to your screen.</h2>
      <a href="/contact" class="btnLarge">
        <p id="btnText">GET STARTED</p>
      </a>
    </div>
  </div>

</body>
